AssistentVirtualIoT
[{"id":"cf68bc56.eedce","type":"tab","label":"Assistente Virtual","disabled":false,"info":""},{"id":"4e7ab9a6.4b4258","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"8a13bf30.f45e3","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"192c2143.53a21f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":150,"sy":100,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"626ae938.971ca8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"dcb72444.68e038","type":"ui_group","name":"Group 1","tab":"626ae938.971ca8","order":2,"disp":true,"width":6},{"id":"c135770c.7353e8","type":"ui_group","name":"Group 2","tab":"626ae938.971ca8","order":1,"disp":true,"width":6},{"id":"53dc2717.285218","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"af153674.20ea38","type":"exec","z":"cf68bc56.eedce","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1110,"y":660,"wires":[["a50d5795.7c3f18"],["a50d5795.7c3f18"],[]]},{"id":"a5d0cd8b.b51ea","type":"change","z":"cf68bc56.eedce","name":"Conversor do Assistent","rules":[{"t":"move","p":"payload.output.generic.0.text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":500,"wires":[["2e3a52cc.a5cdfe"]]},{"id":"e8fc03c4.8afee","type":"change","z":"cf68bc56.eedce","name":"Conversor do Text to Speech ","rules":[{"t":"move","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":460,"wires":[["ab91a90.212bb58"]]},{"id":"ab91a90.212bb58","type":"file","z":"cf68bc56.eedce","name":"","filename":"/home/pi/teste.mp3","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2110,"y":460,"wires":[[]]},{"id":"9ac95ef1.7da3d","type":"tail","z":"cf68bc56.eedce","name":"","filetype":"binary","split":"[]{0,1}","filename":"/home/pi/teste.mp3","inputs":0,"x":730,"y":660,"wires":[["24d67b6a.281794"]]},{"id":"24d67b6a.281794","type":"template","z":"cf68bc56.eedce","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"omxplayer teste.mp3","output":"str","x":920,"y":660,"wires":[["af153674.20ea38"]]},{"id":"55a753d8.1aab3c","type":"change","z":"cf68bc56.eedce","name":"Conversor do Speech to Text","rules":[{"t":"move","p":"transcription","pt":"msg","to":"payload","tot":"msg"},{"t":"move","p":"session_id","pt":"global","to":"params.session_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":580,"wires":[["27f2a0e0.5f061"]]},{"id":"1e7720de.edea6f","type":"watson-speech-to-text","z":"cf68bc56.eedce","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"O4jVp4eYI78zEZxMB-Rw5NP_-kPCfiVX0m_l6FZmdHJ2","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":440,"y":540,"wires":[["55a753d8.1aab3c"]]},{"id":"2e3a52cc.a5cdfe","type":"watson-text-to-speech","z":"cf68bc56.eedce","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/mp3","password":"","apikey":"-kVC-3jMHOu5tQlSBZuspMvYT_slbFxqiW_Ijoo6YIpi","payload-response":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1620,"y":460,"wires":[["e8fc03c4.8afee"]]},{"id":"eb95099.23b9ef8","type":"file","z":"cf68bc56.eedce","name":"","filename":"teste1.mp3","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":310,"y":480,"wires":[["1e7720de.edea6f"]]},{"id":"5e9e3b.bfcb11c4","type":"rpi-gpio in","z":"cf68bc56.eedce","name":"","pin":"7","intype":"down","debounce":"25","read":true,"x":170,"y":300,"wires":[["486f66b8.23db98"]]},{"id":"486f66b8.23db98","type":"microPi","z":"cf68bc56.eedce","name":"microPi","filename":"/home/pi/demo2.wav","domain":"http://localhost:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"10","debug":"true","mode":"666","x":220,"y":400,"wires":[[],["eb95099.23b9ef8"],[]]},{"id":"a50d5795.7c3f18","type":"debug","z":"cf68bc56.eedce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1340,"y":660,"wires":[]},{"id":"e25ec86e.ff4ca8","type":"debug","z":"cf68bc56.eedce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1610,"y":560,"wires":[]},{"id":"1ca1fd36.cdf433","type":"change","z":"cf68bc56.eedce","name":"","rules":[{"t":"move","p":"payload.context.global.session_id","pt":"msg","to":"session_id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":320,"wires":[[]]},{"id":"27f2a0e0.5f061","type":"watson-assistant-v2","z":"cf68bc56.eedce","name":"","service-endpoint":"","assistant_id":"a5c93c9e-2ef8-4dcf-ac6b-1308f7c658ac","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":1130,"y":540,"wires":[["a5d0cd8b.b51ea","e25ec86e.ff4ca8","1ca1fd36.cdf433","979d130d.d6e18","9c546387.2ba23"]]},{"id":"bdc5f21f.d86e7","type":"mqtt in","z":"cf68bc56.eedce","name":"","topic":"notificacãoCCR","qos":"2","datatype":"auto","broker":"8a13bf30.f45e3","x":1370,"y":600,"wires":[["2e3a52cc.a5cdfe","c792f3ff.25bb"]]},{"id":"c792f3ff.25bb","type":"debug","z":"cf68bc56.eedce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1640,"y":760,"wires":[]},{"id":"3e919032.da084","type":"http request","z":"cf68bc56.eedce","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://meu-amigo-caminhoneiro.mybluemix.net/getMessages","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":800,"wires":[["5b2373ac.0cf41c","5fc7010.f0b9b"]]},{"id":"bf936a79.6e63e8","type":"inject","z":"cf68bc56.eedce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":800,"wires":[["3e919032.da084"]]},{"id":"5fc7010.f0b9b","type":"debug","z":"cf68bc56.eedce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":860,"wires":[]},{"id":"acfdab3e.af0c78","type":"ui_template","z":"4e7ab9a6.4b4258","group":"c135770c.7353e8","name":"Pic","order":1,"width":6,"height":7,"format":"<div>\n      <img src=\"data:image/png;base64,{{msg.payload}}\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":630,"y":380,"wires":[[]]},{"id":"1b49b652.d3591a","type":"base64","z":"4e7ab9a6.4b4258","name":"","action":"","property":"payload","x":720,"y":280,"wires":[["acfdab3e.af0c78"]]},{"id":"dfd9c8d0.fb42f8","type":"debug","z":"4e7ab9a6.4b4258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":180,"wires":[]},{"id":"68d90559.295a3c","type":"exec","z":"4e7ab9a6.4b4258","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":310,"y":180,"wires":[[],["4ffce5f2.a8eadc"],[]]},{"id":"4ffce5f2.a8eadc","type":"file in","z":"4e7ab9a6.4b4258","name":"","filename":"/home/pi/teste.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":530,"y":180,"wires":[["dfd9c8d0.fb42f8","1b49b652.d3591a"]]},{"id":"979d130d.d6e18","type":"change","z":"cf68bc56.eedce","name":"","rules":[{"t":"set","p":"payload.output.entities.0.value","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":180,"wires":[[]]},{"id":"9c546387.2ba23","type":"switch","z":"cf68bc56.eedce","name":"","property":"payload.output.entities.0.value","propertyType":"msg","rules":[{"t":"eq","v":"assalto","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1600,"y":240,"wires":[["16fd881d.785d18"]]},{"id":"16fd881d.785d18","type":"link out","z":"cf68bc56.eedce","name":"","links":["4b1c4bd6.189ef4"],"x":1820,"y":100,"wires":[]},{"id":"4b1c4bd6.189ef4","type":"link in","z":"4e7ab9a6.4b4258","name":"","links":["16fd881d.785d18"],"x":55,"y":420,"wires":[["2a1344a8.8d55ec","8a67085e.e80ff8"]]},{"id":"2a1344a8.8d55ec","type":"template","z":"4e7ab9a6.4b4258","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo fswebcam -r 1024x768 --jpeg 85 -D 0.1 teste.jpg","output":"str","x":140,"y":320,"wires":[["68d90559.295a3c"]]},{"id":"8a67085e.e80ff8","type":"debug","z":"4e7ab9a6.4b4258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":700,"wires":[]},{"id":"5b2373ac.0cf41c","type":"change","z":"cf68bc56.eedce","name":"","rules":[{"t":"move","p":"payload.4","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":840,"wires":[["5fc7010.f0b9b"]]},{"id":"b85260f1.c7cb8","type":"inject","z":"4e7ab9a6.4b4258","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":340,"wires":[["acfdab3e.af0c78"]]}]
