AssistentVirtualIoT
[{"id":"cf68bc56.eedce","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"af153674.20ea38","type":"exec","z":"cf68bc56.eedce","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1110,"y":660,"wires":[["a50d5795.7c3f18"],["a50d5795.7c3f18"],[]]},{"id":"a5d0cd8b.b51ea","type":"change","z":"cf68bc56.eedce","name":"Conversor do Assistent","rules":[{"t":"move","p":"payload.output.generic.0.text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":460,"wires":[["2e3a52cc.a5cdfe","e25ec86e.ff4ca8"]]},{"id":"e8fc03c4.8afee","type":"change","z":"cf68bc56.eedce","name":"Conversor do Text to Speech ","rules":[{"t":"move","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":460,"wires":[["ab91a90.212bb58"]]},{"id":"ab91a90.212bb58","type":"file","z":"cf68bc56.eedce","name":"","filename":"/home/pi/teste.mp3","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2110,"y":460,"wires":[[]]},{"id":"9ac95ef1.7da3d","type":"tail","z":"cf68bc56.eedce","name":"","filetype":"binary","split":"[]{0,1}","filename":"/home/pi/teste.mp3","inputs":0,"x":730,"y":660,"wires":[["24d67b6a.281794"]]},{"id":"24d67b6a.281794","type":"template","z":"cf68bc56.eedce","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"omxplayer teste.mp3","output":"str","x":920,"y":660,"wires":[["af153674.20ea38"]]},{"id":"55a753d8.1aab3c","type":"change","z":"cf68bc56.eedce","name":"Conversor do Speech to Text","rules":[{"t":"move","p":"transcription","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":460,"wires":[["27f2a0e0.5f061","e25ec86e.ff4ca8"]]},{"id":"1e7720de.edea6f","type":"watson-speech-to-text","z":"cf68bc56.eedce","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"O4jVp4eYI78zEZxMB-Rw5NP_-kPCfiVX0m_l6FZmdHJ2","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":680,"y":460,"wires":[["55a753d8.1aab3c"]]},{"id":"2e3a52cc.a5cdfe","type":"watson-text-to-speech","z":"cf68bc56.eedce","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/mp3","password":"","apikey":"-kVC-3jMHOu5tQlSBZuspMvYT_slbFxqiW_Ijoo6YIpi","payload-response":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1620,"y":460,"wires":[["e8fc03c4.8afee"]]},{"id":"eb95099.23b9ef8","type":"file","z":"cf68bc56.eedce","name":"","filename":"teste1.mp3","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":490,"y":460,"wires":[["1e7720de.edea6f"]]},{"id":"5e9e3b.bfcb11c4","type":"rpi-gpio in","z":"cf68bc56.eedce","name":"","pin":"7","intype":"down","debounce":"25","read":true,"x":170,"y":460,"wires":[["486f66b8.23db98"]]},{"id":"486f66b8.23db98","type":"microPi","z":"cf68bc56.eedce","name":"microPi","filename":"/home/pi/demo2.wav","domain":"http://localhost:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"10","debug":"true","mode":"666","x":320,"y":460,"wires":[[],["eb95099.23b9ef8"],[]]},{"id":"27f2a0e0.5f061","type":"watson-assistant-v2","z":"cf68bc56.eedce","name":"","service-endpoint":"","assistant_id":"a5c93c9e-2ef8-4dcf-ac6b-1308f7c658ac","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":1170,"y":460,"wires":[["a5d0cd8b.b51ea","e25ec86e.ff4ca8"]]},{"id":"a50d5795.7c3f18","type":"debug","z":"cf68bc56.eedce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1340,"y":660,"wires":[]},{"id":"e25ec86e.ff4ca8","type":"debug","z":"cf68bc56.eedce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":280,"wires":[]}]
