notificaçãooffiline
[{"id":"855376f0.4b6d08","type":"tab","label":"APIS","disabled":false,"info":""},{"id":"cedb3282.7de03","type":"template","z":"855376f0.4b6d08","name":"","field":"payload.temptext","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.detail}}, com temperatura de {{payload.tempc}} graus e {{payload.clouds}}% de nuvens em {{payload.location}}. A velocidade do vento é de {{payload.windspeed}} km/h.","output":"str","x":720,"y":200,"wires":[["b8070b67.716e98"]]},{"id":"7100f4f6.15afec","type":"link in","z":"855376f0.4b6d08","name":"Entrada de ptocesso texto","links":["36e9aebc.e03132"],"x":175,"y":200,"wires":[["2de65c6.e95e7a4"]]},{"id":"2afb460c.b53d9a","type":"link out","z":"855376f0.4b6d08","name":"retorno de processo texto","links":["2168f27b.d2c09e"],"x":1255,"y":240,"wires":[]},{"id":"b8070b67.716e98","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload.temptext","pt":"msg","to":"payload.output.generic.0.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":200,"wires":[["a3ed5c1a.eb2af"]]},{"id":"c0555b0.bb378a8","type":"link in","z":"855376f0.4b6d08","name":"entrada de processo audio","links":["a3a02543.43d538"],"x":175,"y":320,"wires":[["ff701efa.f2459"]]},{"id":"6824a439.666cdc","type":"link out","z":"855376f0.4b6d08","name":"saida de processo audio","links":["63be8576.46340c"],"x":1155,"y":320,"wires":[]},{"id":"8da923d4.ca7cd","type":"template","z":"855376f0.4b6d08","name":"","field":"payload.temptext","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.detail}}, com temperatura de {{payload.tempc}} Graus e {{payload.clouds}} % de nuvens em {{payload.location}}. A velocidade do vento é de {{payload.windspeed}} km/h","output":"str","x":720,"y":320,"wires":[["f5b10fb.f4cdef"]]},{"id":"ff701efa.f2459","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload.output","pt":"msg","to":"output","tot":"flow"},{"t":"move","p":"payload.context","pt":"msg","to":"context","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":320,"wires":[["fa1a6d7.f128e9"]]},{"id":"f5b10fb.f4cdef","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload.temptext","pt":"msg","to":"payload.output.generic.0.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":320,"wires":[["6824a439.666cdc"]]},{"id":"2b741fb7.935f2","type":"exec","z":"855376f0.4b6d08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":460,"wires":[["d1d4eff6.25113"],[],[]]},{"id":"f9f077bb.c4e558","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date +\"%T\"\n","output":"str","x":300,"y":460,"wires":[["2b741fb7.935f2"]]},{"id":"9b2d5093.b7767","type":"debug","z":"855376f0.4b6d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2870,"y":520,"wires":[]},{"id":"ca809f50.f091c","type":"exec","z":"855376f0.4b6d08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":720,"wires":[["63a7fa00.9cbab4"],[],[]]},{"id":"a92765f1.6bde38","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date +\"%A\"\n","output":"str","x":260,"y":720,"wires":[["ca809f50.f091c"]]},{"id":"c92f1c07.969e3","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"semana","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":720,"wires":[["98d87ea3.5861c"]]},{"id":"8f9b55.0dc0a4a8","type":"exec","z":"855376f0.4b6d08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1030,"y":720,"wires":[["6e1feded.226834"],[],[]]},{"id":"98d87ea3.5861c","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date +\"%d\"\n","output":"str","x":900,"y":720,"wires":[["8f9b55.0dc0a4a8"]]},{"id":"6e1feded.226834","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"dia","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":720,"wires":[["d15ff5aa.9356a8"]]},{"id":"6a72413a.00dfd","type":"exec","z":"855376f0.4b6d08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1470,"y":720,"wires":[["7862d4c9.5c962c"],[],[]]},{"id":"d15ff5aa.9356a8","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date +\"%B\"\n","output":"str","x":1340,"y":720,"wires":[["6a72413a.00dfd"]]},{"id":"bc278740.1dda48","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"mes","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":720,"wires":[["60943fe4.c0d04"]]},{"id":"2ea343d6.9e410c","type":"exec","z":"855376f0.4b6d08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2090,"y":720,"wires":[["51a0503f.dc75c"],[],[]]},{"id":"60943fe4.c0d04","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date +\"%Y\"\n","output":"str","x":1960,"y":720,"wires":[["2ea343d6.9e410c"]]},{"id":"51a0503f.dc75c","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"ano","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":720,"wires":[["96b8114f.82142"]]},{"id":"96b8114f.82142","type":"template","z":"855376f0.4b6d08","name":"","field":"payload.completDate","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{semana}}, Dia {{dia}} de {{mes}} de {{ano}}","output":"str","x":2420,"y":720,"wires":[["cdd8af6b.02ee2"]]},{"id":"59cbb86.0395f48","type":"link in","z":"855376f0.4b6d08","name":"Data entrada Processamento Texto","links":["1c91f121.923d8f"],"x":115,"y":740,"wires":[["a92765f1.6bde38"]]},{"id":"47a1d2f.b982c2c","type":"link in","z":"855376f0.4b6d08","name":"Hora Entrada Processamento Texto","links":["358fea51.fa9006"],"x":175,"y":500,"wires":[["f9f077bb.c4e558"]]},{"id":"554054a9.f8a58c","type":"link out","z":"855376f0.4b6d08","name":"Hora Saida Processamento Texto","links":["5e3349e9.f096d8"],"x":935,"y":500,"wires":[]},{"id":"2df0a4fa.679b3c","type":"link out","z":"855376f0.4b6d08","name":"Data saida Processamento Texto","links":["7da089fe.925c98"],"x":3335,"y":740,"wires":[]},{"id":"cdd8af6b.02ee2","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload.completDate","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":720,"wires":[["551d5669.031f08"]]},{"id":"2de65c6.e95e7a4","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload.output","pt":"msg","to":"output","tot":"flow"},{"t":"move","p":"payload.context","pt":"msg","to":"context","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["c5189bd4.16ee38"]]},{"id":"551d5669.031f08","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.output.generic.0.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2970,"y":720,"wires":[["9b2d5093.b7767","b997bd8b.5878c"]]},{"id":"1cd3f872.dda4a8","type":"debug","z":"855376f0.4b6d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3230,"y":900,"wires":[]},{"id":"88a229fb.d6f5a8","type":"exec","z":"855376f0.4b6d08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":840,"wires":[["e82d9aec.013458"],[],[]]},{"id":"157b4d03.0031d3","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date +\"%A\"\n","output":"str","x":300,"y":840,"wires":[["88a229fb.d6f5a8"]]},{"id":"cf45a264.56d09","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"semana","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":840,"wires":[["2b3af128.7f181e"]]},{"id":"77aa26a2.0c7128","type":"exec","z":"855376f0.4b6d08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1090,"y":840,"wires":[["2fe632e7.bdb00e"],[],[]]},{"id":"2b3af128.7f181e","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date +\"%d\"\n","output":"str","x":960,"y":840,"wires":[["77aa26a2.0c7128"]]},{"id":"2fe632e7.bdb00e","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"dia","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":840,"wires":[["30ca5c53.0b1204"]]},{"id":"36318c66.a469f4","type":"exec","z":"855376f0.4b6d08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1530,"y":840,"wires":[["5ca5eab5.5fcdf4"],[],[]]},{"id":"30ca5c53.0b1204","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date +\"%B\"\n","output":"str","x":1400,"y":840,"wires":[["36318c66.a469f4"]]},{"id":"8b2a1bcf.000bf8","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"mes","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":840,"wires":[["9587b143.4fd06"]]},{"id":"bfdf1cd0.e12d7","type":"exec","z":"855376f0.4b6d08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2150,"y":840,"wires":[["3fe7422c.400e1e"],[],[]]},{"id":"9587b143.4fd06","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date +\"%Y\"\n","output":"str","x":2020,"y":840,"wires":[["bfdf1cd0.e12d7"]]},{"id":"3fe7422c.400e1e","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"ano","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":840,"wires":[["391d8d27.c13952"]]},{"id":"391d8d27.c13952","type":"template","z":"855376f0.4b6d08","name":"","field":"payload.completDate","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{semana}}, Dia {{dia}} de {{mes}} de {{ano}}","output":"str","x":2480,"y":840,"wires":[["40332b44.e25184"]]},{"id":"df3ef3b3.a940a","type":"link in","z":"855376f0.4b6d08","name":"Data entrada Processamento audio","links":["4df0f6cb.4c8928"],"x":175,"y":840,"wires":[["157b4d03.0031d3"]]},{"id":"3d1cebb7.42af14","type":"link out","z":"855376f0.4b6d08","name":"Data saida Processamento Audio","links":["69de20e2.fd3a2"],"x":3315,"y":840,"wires":[]},{"id":"40332b44.e25184","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload.completDate","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":840,"wires":[["6b1ca22c.fb9c0c"]]},{"id":"6b1ca22c.fb9c0c","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.output.generic.0.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3030,"y":840,"wires":[["3d1cebb7.42af14","1cd3f872.dda4a8"]]},{"id":"d1d4eff6.25113","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.output.generic.0.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":460,"wires":[["15dfb4fd.7ef1bb"]]},{"id":"987c0045.cfa59","type":"exec","z":"855376f0.4b6d08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":600,"wires":[["e9b9369d.6f3af8"],[],[]]},{"id":"5e1ff830.1046d8","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date +\"%T\"\n","output":"str","x":300,"y":600,"wires":[["987c0045.cfa59"]]},{"id":"bbb714fb.ed6848","type":"link in","z":"855376f0.4b6d08","name":"Hora Entrada Processamento audio","links":["820c78ee.ac71e8"],"x":175,"y":600,"wires":[["5e1ff830.1046d8"]]},{"id":"1ca20bf2.f889a4","type":"link out","z":"855376f0.4b6d08","name":"Hora Saida Processamento audio","links":["9f1b93e9.beb53"],"x":795,"y":600,"wires":[]},{"id":"e9b9369d.6f3af8","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.output.generic.0.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":600,"wires":[["1ca20bf2.f889a4"]]},{"id":"8cc389cf.717be8","type":"comment","z":"855376f0.4b6d08","name":"Clima Texto","info":"","x":710,"y":120,"wires":[]},{"id":"3e68fdd9.f24042","type":"comment","z":"855376f0.4b6d08","name":"Clima Audio","info":"","x":730,"y":280,"wires":[]},{"id":"fcc96a9c.c7c638","type":"comment","z":"855376f0.4b6d08","name":"Hora Texto","info":"","x":520,"y":400,"wires":[]},{"id":"83af4282.99ba1","type":"comment","z":"855376f0.4b6d08","name":"Hora Audio","info":"","x":520,"y":540,"wires":[]},{"id":"8a766fea.967a5","type":"comment","z":"855376f0.4b6d08","name":"Data Audio","info":"","x":520,"y":780,"wires":[]},{"id":"8567c119.f869b","type":"comment","z":"855376f0.4b6d08","name":"Data Texto","info":"","x":540,"y":660,"wires":[]},{"id":"a91a66e4.e236b8","type":"template","z":"855376f0.4b6d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.detail}}, com temperatura de {{payload.tempc}} graus e {{payload.clouds}}% de nuvens em {{payload.location}}. A velocidade do vento é de {{payload.windspeed}} km/h.","output":"str","x":900,"y":1300,"wires":[["6bb55828.d9fdc8"]]},{"id":"ea9e6922.eddca8","type":"link in","z":"855376f0.4b6d08","name":"entrada Processamento de localização","links":["9b7ac78.20d4d38"],"x":275,"y":1300,"wires":[["9c4c39bf.f3e2c8"]]},{"id":"9c4c39bf.f3e2c8","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload.latitude","pt":"msg","to":"location.lat","tot":"msg"},{"t":"move","p":"payload.longitude","pt":"msg","to":"location.lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1300,"wires":[["d2e80f9a.0b7c8"]]},{"id":"6bb55828.d9fdc8","type":"link out","z":"855376f0.4b6d08","name":"Saida processamento de localização","links":["7ac76502.066a3c"],"x":1055,"y":1300,"wires":[]},{"id":"4eae9416.60ab3c","type":"link in","z":"855376f0.4b6d08","name":"Notificação Telegram data process in","links":["9a84d9de.9267c8"],"x":115,"y":680,"wires":[["a92765f1.6bde38"]]},{"id":"bff9023c.c31b8","type":"link out","z":"855376f0.4b6d08","name":"Notificação Telegram data process out","links":["c3e789cd.7099e8"],"x":3635,"y":620,"wires":[]},{"id":"b997bd8b.5878c","type":"switch","z":"855376f0.4b6d08","name":"","property":"notification","propertyType":"msg","rules":[{"t":"true"},{"t":"neq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":3150,"y":720,"wires":[["7fdba20b.d77b0c"],["2df0a4fa.679b3c"]]},{"id":"7fdba20b.d77b0c","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload.output.generic.0.text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3420,"y":620,"wires":[["bff9023c.c31b8"]]},{"id":"db1b070c.3d1158","type":"link in","z":"855376f0.4b6d08","name":"Processo Notificação Hora In","links":["ed99d12d.a3fc4"],"x":175,"y":400,"wires":[["f9f077bb.c4e558"]]},{"id":"15dfb4fd.7ef1bb","type":"switch","z":"855376f0.4b6d08","name":"","property":"notification","propertyType":"msg","rules":[{"t":"true"},{"t":"neq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":460,"wires":[["95a34c3.47c0bb"],["554054a9.f8a58c"]]},{"id":"7dad3967.562ea8","type":"link out","z":"855376f0.4b6d08","name":"Processo Notificação Hora out","links":["b08eeeb3.8b0e6"],"x":1335,"y":420,"wires":[]},{"id":"95a34c3.47c0bb","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload.output.generic.0.text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":420,"wires":[["7dad3967.562ea8"]]},{"id":"8fbd9f07.44c9","type":"link in","z":"855376f0.4b6d08","name":"Processo Notificação Clima In","links":["2f21ea3d.689fc6"],"x":200,"y":140,"wires":[["2de65c6.e95e7a4"]]},{"id":"a3ed5c1a.eb2af","type":"switch","z":"855376f0.4b6d08","name":"","property":"notification","propertyType":"msg","rules":[{"t":"true"},{"t":"neq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":180,"wires":[["47d536d7.c3f258"],["2afb460c.b53d9a"]]},{"id":"47d536d7.c3f258","type":"change","z":"855376f0.4b6d08","name":"","rules":[{"t":"move","p":"payload.output.generic.0.text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":120,"wires":[["15b0a1e3.fbc19e"]]},{"id":"15b0a1e3.fbc19e","type":"link out","z":"855376f0.4b6d08","name":"Processo Notificação clima out","links":["2dc0c276.7449de"],"x":1620,"y":80,"wires":[]},{"id":"c5189bd4.16ee38","type":"openweathermap","z":"855376f0.4b6d08","name":"","wtype":"current","lon":"","lat":"","city":"Santos","country":"Brazil","language":"pt","x":550,"y":200,"wires":[["cedb3282.7de03"]]},{"id":"fa1a6d7.f128e9","type":"openweathermap","z":"855376f0.4b6d08","name":"","wtype":"current","lon":"","lat":"","city":"Santos","country":"Brazil","language":"pt","x":530,"y":320,"wires":[["8da923d4.ca7cd"]]},{"id":"d2e80f9a.0b7c8","type":"openweathermap","z":"855376f0.4b6d08","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"pt","x":690,"y":1300,"wires":[["a91a66e4.e236b8"]]},{"id":"63a7fa00.9cbab4","type":"google-translate","z":"855376f0.4b6d08","name":"","to":"pt","x":560,"y":720,"wires":[["c92f1c07.969e3"]]},{"id":"7862d4c9.5c962c","type":"google-translate","z":"855376f0.4b6d08","name":"","to":"pt","x":1620,"y":720,"wires":[["bc278740.1dda48"]]},{"id":"e82d9aec.013458","type":"google-translate","z":"855376f0.4b6d08","name":"","to":"pt","x":600,"y":840,"wires":[["cf45a264.56d09"]]},{"id":"5ca5eab5.5fcdf4","type":"google-translate","z":"855376f0.4b6d08","name":"","to":"pt","x":1680,"y":840,"wires":[["8b2a1bcf.000bf8"]]}]
